body {
    background-image: url('https://i.imgur.com/mAIdAvM.png');
}


#home:hover,
#contacts:hover,
#download:hover,
#login:hover {
    color: #8C3631;
    text-shadow: 1px 1px 10px rgb(66, 13, 13);
    position: relative;
    top: 4px;
    transition: all 0.3s ease;
}

#presecanva{
    position: absolute;
    font-weight: bold;
    text-align:justify;
    font-size: 25px;
    left: 12%;
    transform: translateX(-50%);
    top: 70%;
    color: #ffffff;
    text-shadow: 0px 3px 0px #767b7d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home,
#contacts,
#download,
#login{
    background-color: transparent;
    border: 0;
    font-size: 25px;
    color: white;
    float: right;
    margin-right: 80px;
    margin-top: 25px;
    text-shadow: 1px 1px 10px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.3s ease;
}

#home:active,
#contacts:active,
#download:active,
#login:active {
    transform: scale(0.95);
}


#logo{
    width: 180px;
    margin-left: 50px;
    position: absolute;
    transition: transform 0.3s ease;

}

#titolo {
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    left: 13%;
    transform: translateX(-50%);
    top: 30%;
    color: white;
    text-shadow: 0px 6px 0px rgb(139, 138, 138); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#descrizione {
    position: absolute;
    font-weight: bold;
    text-align:justify;
    font-size: 25px;
    left: 24%;
    transform: translateX(-50%);
    top: 43%;
    color: #ffffff;
    text-shadow: 0px 3px 0px #767b7d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#downloadgame {
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    left: 5%;
    top: 60%;
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    box-shadow: 3px 8px 0px #255928;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.1s ease;
}

#downloadgame:hover {
    background-color: #45a049;
    box-shadow: 3px 8px 0px #255928;
    transform: translateY(-5px);
}

#downloadgame:active {
    background-color: #45a049;
    box-shadow: 3px 4px 0px #255928;
    transform: translateY(0px);
}

#immaginedesc{
    position: absolute;
    left: 55%;
    top: 20%;
    filter: drop-shadow(20px 20px 20px black); 
}

@media screen and (max-width: 1366px) {

    #presecanva{
        position: absolute;
        font-weight: bold;
        text-align:justify;
        font-size: 25px;
        left: 12%;
        transform: translateX(-50%);
        top: 75%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    

    #descrizione {
        position: absolute;
        font-weight: bold;
        text-align:justify;
        font-size: 25px;
        left: 29%;
        transform: translateX(-50%);
        top: 45%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    #downloadgame{
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
        left: 2%;
        top: 63%;
        padding: 10px 20px;
        color: white;
        background-color: #4CAF50;
        box-shadow: 3px 8px 0px #255928;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.1s ease;
    }

    #immaginedesc{
        position: absolute;
        width: 35%;
        left: 60%;
        top: 20%;
        filter: drop-shadow(20px 20px 20px black); 
    }

}

@media screen and (max-width: 390px) {

    #presecanva{
        position: absolute;
        font-weight: bold;
        text-align:left;
        font-size: 15px;
        left: 49%;
        transform: translateX(-50%);
        top: 80%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    

    #home,
    #contacts,
    #download,
    #login{
        display: none;
    }
    
    #home:active,
    #contacts:active,
    #download:active,
    #login:active {
        display: none;
    }
    
    
    #logo{
        width: 180px;
        margin-left: 100px;
        position: absolute;
        transition: transform 0.3s ease;
    
    }

    #titolo {
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 70px;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
        color: white;
        text-shadow: 0px 6px 0px rgb(139, 138, 138); 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #descrizione {
        position: absolute;
        font-weight: bold;
        text-align:left;
        font-size: 30px;
        width: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: 35%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    #downloadgame{
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
        left: 19%;
        top: 85%;
        padding: 10px 20px;
        color: white;
        background-color: #4CAF50;
        box-shadow: 3px 8px 0px #255928;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.1s ease;
    }

    #immaginedesc{
        display: none;
    }

}


@media screen and (max-width: 412px) {

    #presecanva{
        position: absolute;
        font-weight: bold;
        text-align:left;
        font-size: 15px;
        left: 49%;
        transform: translateX(-50%);
        top: 80%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #home,
    #contacts,
    #download,
    #login{
        display: none;
    }
    
    #home:active,
    #contacts:active,
    #download:active,
    #login:active {
        display: none;
    }
    
    
    #logo{
        width: 180px;
        margin-left: 100px;
        position: absolute;
        transition: transform 0.3s ease;
    
    }

    #titolo {
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 70px;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
        color: white;
        text-shadow: 0px 6px 0px rgb(139, 138, 138); 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #descrizione {
        position: absolute;
        font-weight: bold;
        text-align:left;
        font-size: 30px;
        width: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: 35%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    #downloadgame{
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
        left: 19%;
        top: 85%;
        padding: 10px 20px;
        color: white;
        background-color: #4CAF50;
        box-shadow: 3px 8px 0px #255928;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.1s ease;
    }

    #immaginedesc{
        display: none;
    }

}

@media screen and (max-width: 430px) {

    #presecanva{
        position: absolute;
        font-weight: bold;
        text-align:left;
        font-size: 15px;
        left: 49%;
        transform: translateX(-50%);
        top: 80%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #home,
    #contacts,
    #download,
    #login{
        display: none;
    }
    
    #home:active,
    #contacts:active,
    #download:active,
    #login:active {
        display: none;
    }
    
    
    #logo{
        width: 180px;
        margin-left: 100px;
        position: absolute;
        transition: transform 0.3s ease;
    
    }

    #titolo {
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 70px;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
        color: white;
        text-shadow: 0px 6px 0px rgb(139, 138, 138); 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #descrizione {
        position: absolute;
        font-weight: bold;
        text-align:left;
        font-size: 30px;
        width: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: 35%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    #downloadgame{
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
        left: 19%;
        top: 85%;
        padding: 10px 20px;
        color: white;
        background-color: #4CAF50;
        box-shadow: 3px 8px 0px #255928;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.1s ease;
    }

    #immaginedesc{
        display: none;
    }

}

@media screen and (max-width: 375px) {

    #presecanva{
        position: absolute;
        font-weight: bold;
        text-align:left;
        font-size: 15px;
        left: 49%;
        transform: translateX(-50%);
        top: 80%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #home,
    #contacts,
    #download,
    #login{
        display: none;
    }
    
    #home:active,
    #contacts:active,
    #download:active,
    #login:active {
        display: none;
    }
    
    
    #logo{
        width: 180px;
        margin-left: 100px;
        position: absolute;
        transition: transform 0.3s ease;
    
    }

    #titolo {
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 70px;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
        color: white;
        text-shadow: 0px 6px 0px rgb(139, 138, 138); 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #descrizione {
        position: absolute;
        font-weight: bold;
        text-align:left;
        font-size: 30px;
        width: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: 35%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    #downloadgame{
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
        left: 19%;
        top: 85%;
        padding: 10px 20px;
        color: white;
        background-color: #4CAF50;
        box-shadow: 3px 8px 0px #255928;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.1s ease;
    }

    #immaginedesc{
        display: none;
    }

}

@media screen and (max-width: 360px) {

    #presecanva{
        position: absolute;
        font-weight: bold;
        text-align:left;
        font-size: 15px;
        left: 49%;
        transform: translateX(-50%);
        top: 80%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #home,
    #contacts,
    #download,
    #login{
        display: none;
    }
    
    #home:active,
    #contacts:active,
    #download:active,
    #login:active {
        display: none;
    }
    
    
    #logo{
        width: 180px;
        margin-left: 100px;
        position: absolute;
        transition: transform 0.3s ease;
    
    }

    #titolo {
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 70px;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
        color: white;
        text-shadow: 0px 6px 0px rgb(139, 138, 138); 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #descrizione {
        position: absolute;
        font-weight: bold;
        text-align:left;
        font-size: 30px;
        width: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: 35%;
        color: #ffffff;
        text-shadow: 0px 3px 0px #767b7d;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    #downloadgame{
        position: absolute;
        font-weight: bold;
        text-align: center;
        font-size: 40px;
        left: 19%;
        top: 85%;
        padding: 10px 20px;
        color: white;
        background-color: #4CAF50;
        box-shadow: 3px 8px 0px #255928;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.1s ease;
    }

    #immaginedesc{
        display: none;
    }

}
